#world {
  padding-bottom: 5px;
}
table {
  background-color: gray;
}
td {
  border: 1px solid black;
  width: 15px;
  height: 15px;
}

td.dead {
  background-color: red;
}

td.empty {
  background-color: transparent;
}

td.alive {
  background-color: green;
}

.container{
  padding: 5px;
}

#flex-container{
  position: absolute;
  background-color: darkgray;
  border: 1px solid black;
  width: 9%;
}

#flex-container-header{
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  float: right;
  cursor: move;
  height: 15px;
  width: 15px;
}